body {
    text-align: center;
    background-color: #85f085;
    box-sizing: border-box;
    max-width: 1500px;
    margin:auto;
    font-family: 'Press Start 2P', cursive;
}

kbd {
    border:1px solid gray;
    padding:1px 5px;
    margin:0 5px;
    font-size:1.5em;
    text-transform:uppercase;
    box-shadow:1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333;
    border-radius:3px;
    background:-webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(25%, #e2e2e2));
    background:-webkit-linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
    background:linear-gradient(left, #ffffff 0%, #e2e2e2 25%);
}


p {
    font-family: 'Play', sans-serif;
}

h1 {
    color: #e8ff37;
    text-shadow: 3px 3px #000;
}

h2 {
    height: 80px;
    padding-top: 30px;
    color: #e8ff37;
    text-shadow: 3px 3px #000;
}

.left {
    float: left;
    padding-left: 180px;
}

.right {
    float: right;
    padding-right: 210px;
}
.text {
    padding: 20px;
    font-size: 20px;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.description {
    width: 100%
}
.rules {
    width: 100%;
}

.game {
    width: 100%;
}

@media screen and (min-width: 1300px) {
    
    .rules {
    width: 25%;
}

.game {
    width: 50%;
}
    
    .description {
        width: 25%;
    }   
    
    .text {
        padding: 60px;
    }
}